In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("customer.csv")

In [3]:
df.sample(5)

    age  gender   review education purchased
14   15    Male     Poor        PG       Yes
30   73    Male  Average        UG        No
18   19    Male     Good    School        No
20   57  Female  Average    School       Yes
43   27    Male     Poor        PG        No

In [6]:
df.shape

(50, 5)

In [8]:
df=df.iloc[:,2:]

In [9]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [15]:
x_train

     review education
25     Good    School
35     Poor    School
48     Good        UG
14     Poor        PG
49     Good        UG
3      Good        PG
16     Poor        UG
41     Good        PG
38     Good    School
40     Good    School
36     Good        UG
20  Average    School
23     Good    School
8   Average        UG
47     Good        PG
2      Good        PG
4   Average        UG
10     Good        UG
37  Average        PG
11     Good        UG
1      Poor        UG
17     Poor        UG
26     Poor        PG
18     Good    School
7      Poor    School
24  Average        PG
29  Average        UG
33     Good        PG
5   Average    School
43     Poor        PG
9      Good        UG
44  Average        UG
21  Average        PG
46     Poor        PG
6      Good    School
19     Poor        PG
39     Poor        PG
13  Average    School
42     Good        PG
22     Poor        PG

In [16]:
x_train.shape,x_test.shape

((40, 2), (10, 2))

In [17]:
from sklearn.preprocessing import OrdinalEncoder

In [18]:
Ordinal_Encoder=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [19]:
Ordinal_Encoder.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [20]:
x_train=Ordinal_Encoder.transform(x_train)
x_test=Ordinal_Encoder.transform(x_test)

In [35]:
x_train

array([[2., 0.],
       [0., 0.],
       [2., 1.],
       [0., 2.],
       [2., 1.],
       [2., 2.],
       [0., 1.],
       [2., 2.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [1., 0.],
       [2., 0.],
       [1., 1.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [2., 1.],
       [1., 2.],
       [2., 1.],
       [0., 1.],
       [0., 1.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [1., 2.],
       [1., 1.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [1., 2.],
       [0., 2.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [0., 2.]])

In [27]:
Ordinal_Encoder.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
le=LabelEncoder()

In [30]:
le.fit(y_train)

LabelEncoder()

In [31]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [32]:
y_train=le.transform(y_train)
y_test=le.transform(y_test)

In [33]:
y_train

array([0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1])