# # Feature scaling
 feature Scaling is a technique to standardize the independent features present in the data in a fixed range.
 
 ## Types of feature scaling
  1) Standardization/Z-score Normalization
  2) Normalization  - a) minmaxscalar
                      b) Robustscalar

# Satandardization
 X'i= (Xi-X/mean)/standard deviation -gives Standardization 
 char- mean=0, SD=1
 
 in feature scaling first train test split should be done

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Social_Network_Ads.csv')

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df=df.iloc[:,2:]

In [5]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

# Train Test split
for Feature scaling First do train test split

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop('Purchased',axis=1),df['Purchased'],test_size=0.3,random_state=0)
x_train.shape,x_test.shape

((280, 2), (120, 2))

# standaedScaler

In [13]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
#fit the scaler to tthe train set , it will learn parameter
scaler.fit(x_train)
#transform train test sets
x_train_scaler=scaler.transform(x_train)
x_test_scaler=scaler.transform(x_test)